/* font */
@font-face {
    font-family: "KyoboHand";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* basic */
html body{
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}
a:visited {
    color: currentColor;
}
.red {
    color: red;
}

.page_default {
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(250, 128, 114);
    display: block;
}

#main_content {
    position: relative;
    top:35vh;
    text-align: center;
}

/* intro page image */

.main_image {
    position: relative;
    display: inline-block;
    width: 180px;
    top: 80px;
}
.image_left{
    margin-right: 20px;       
}
.image_right{
    margin-left: 20px;       
}

/* intro page text */

#intro {
    font-family: "KyoboHand";
    display: inline-block;
    font-size: 58px;
}
#intro a:hover {
    color: #fff;
}

/* #main_page{
    background-color: cornsilk;
} */
#main_images{
    position: relative;
    background-color: cornsilk;
    display: block;
    top: 35vh;
}
#main_images img{
    width: 16vw;
    display: inline;
}
