/* font */
@font-face {
    font-family: "KyoboHand";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* basic */
html body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "KyoboHand";
}

a {
    color: black;
    text-decoration: none;
}
a:visited {
    color: currentColor;
}
.red {
    color: red;
}

.page_default {
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(250, 128, 114);
    display: block;
    font-size: 20px;
}

.space{
    height: 70px;
    width: fit-content;
}

#intro_content {
    position: relative;
    top:35vh;
    text-align: center;
    background-color: rgba(250, 128, 114);
}

/* intro page image */

.intro_image {
    position: relative;
    display: inline-block;
    width: 180px;
    top: 80px;
}
.image_left{
    margin-right: 20px;       
}
.image_right{
    margin-left: 20px;       
}

/* intro page text */

#intro {
    font-family: "KyoboHand";
    display: inline-block;
    font-size: 58px;
}
#intro a:hover {
    color: #fff;
}

/* tomato html */
#main_page{
    background-color: cornsilk;
}

#who_we_are{
    position: relative;
    text-align: center;
    top: 1vh;
    left: 25%;
    width:700px;
    font-size: 4rem;
    display: inline-block;
    border: dashed  rgb(255, 231, 133) 8px;
    border-radius: 50px;
    /* background-color: cornflowerblue; */
}
#main_images{
    position: relative;
    /* background-color: cornsilk; */
    display: flex;
    justify-content: center;
    align-content:space-between;
    flex-wrap:nowrap;
    top: 10vh;
}
#main_images img{
    width: 15vw;
    display: inline;
}

/* 캐릭터 튀어나오게 */
#main_images img{
    transition: all 0.3s ease-in-out;
}
#main_images ul{
    display: flex;
}

#main_images li,#main_images li ul li {
    list-style: none;
    display: inline;
    flex: none;
}
#main_images img:hover{
    transform: scale(1.4);
}


#gallery_button{
    position: relative;
    text-align: center;
    top: 10vh; 
    left: 45vw;
    margin: 10px;
    background-color: rgb(255, 231, 133);
    position:fixed 50vw;
}
#gallery_button:hover{
    background-color: rgb(108, 77, 0);
    color: #fff;
}
.button{
    border:dashed;
    font-family: "KyoboHand";
    font-size: 2rem;
    border-radius: 20px;
}


.back_button{
    display: inline-block;
    position: relative;
    left: 3%;
    bottom: 50px;
    font-size: 1.5rem;
    border: none;
    background-color: lightcyan;
}
.back_button:hover{
    color: lightcyan;
    background-color: rgb(51, 177, 255);
}

.button_indi{
    position: relative;
    left: 3%;
    top: 5vh;
    font-size: 1.5rem;
    border: none;
    background-color: lightcyan;
}
/* gallery */

#gallery_page{
    width: 100vw;
    background-color:rgb(255, 231, 133);
}
#gellery_header{
    height: 20vh;
    background-color: rgb(255, 231, 133);
}

#gellery_header div{
    text-align: center;
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(69, 50, 2);
}

#gallery-box{
    position: relative;
    display: flex;
    border: dashed 10px cornsilk;
    border-radius: 50px;
    justify-content: space-evenly;
    margin: 2%;
    background-color:
}
.gallery_form{
    
    float: left;
    background-color: crimson;
    margin: 2%;
    height: 60vh;
    flex-basis: 33%;
}

.memory_images{
    height: 70%;
    background-color: darkblue;
}

/* 정은 */
#introduce_jeongeun{
    position: relative;
    text-align: center;
    top: 1vh;
    left: 25%;
    width:700px;
    font-size: 4rem;
    display: inline-block;
    border: dashed  rgb(255, 231, 133) 8px;
    border-radius: 50px;
    /* background-color: cornflowerblue; */
}

#jeongeun_page{
    background-color: floralwhite;
}